:root {
  --nav-link-color: #d82626;
  --nav-font: "Saira Condensed", sans-serif;
  --heading-font: "Inter", 'sans-serif';
  --nav-text-size: 24px;
  --nav-font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
color: #fff;
text-decoration: none;
}

a:hover {
  color: var(--nav-link-color) ;
}

body {
  background: #191919;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.active {
  color: var(--nav-link-color);
}

main {
    padding-inline: 12rem;
}

nav {
  background: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 12rem;
  height: 121px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--heading-font) ;
  font-weight: var(--nav-font-weight);
  font-size: 2.5rem;
  color: #fff;
  gap: 0.75rem;
}

.naslov {
  font-size: 48px;
}

#logo {
    width: 75px;
    height: 75px;
}

ul {
  list-style: none;
}

.nav-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-family: var(--nav-font);
  font-weight: var(--nav-font-weight);
  font-style: normal;
  line-height: 110%;
  font-size: var(--nav-text-size);
  text-transform: uppercase;
  color: #fff;
}

.signup-btn {
  background-color: var(--nav-link-color);
  padding: 6px 36px;
  color: #fff;
  font-family: var(--nav-font);
  font-weight: var(--nav-font-weight);
  font-size: 16px;
  outline: none;
  border: none;
}

.signup-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.pages-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  font-family: var(--nav-font);
  font-size: var(--nav-text-size);
  font-weight: var(--nav-font-weight);
  color: #fff;
  text-transform: uppercase;
  margin: 4px 0;
  border-bottom: 2px solid #2d2d2d;
}

.link-home {
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}

.link-home.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* gura crvenu liniju 2px ispod teksta, preko border-a */
  width: 100%;
  height: 3px;
  background-color: var(--nav-link-color);
  z-index: 1;
}

.poster img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  display: flex;
  gap: 10px; 
  padding: 10px;
  justify-content: flex-end;
}

.filters select {
  background-color: #1A1A1A;
  color: #D1D1D1;
  border: 1px solid #444; 
  border-radius: 999px;
  padding: 8px 14px;
  appearance: none;
  font-size: 22px;
  position: relative;
  padding-right: 30px;
}

.filters select {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23D1D1D1" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

.filters select:focus {
  outline: none;
  border-color: #888;
}

.filmovi {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0 auto;
}

.film {
  background-color: #191919;
  color: white;
  width: calc(25% - 15px); /* oduzimamo razmak da stane 4 u jedan red */
  box-sizing: border-box;
}

.film img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2px;
}

.film .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}

.film .datum-prikaza {
  font-size: 20px;
  color: #838383;
  margin: 0;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .film {
    width: calc(50% - 10px); /* 2 po redu */
  }
}

@media (max-width: 600px) {
  .film {
    width: 100%; /* 1 po redu */
  }
}

.korak-container {
  display: flex;
  gap: 10px;
  padding: 8px;
  background-color: #1a1a1a;
  font-size: 14px;
}

.korak {
  color: #999;
  font-family: var(--nav-font);
  font-size: var(--nav-text-size);
}

.korak span {
  color: red;
  margin-left: 5px;
}

.ulaznice-container {
  display: flex;
  background-color: #242424;
  border: 2px solid #005fa3;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #005fa3;
  max-width: 850px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ulaznice-slika img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.ulaznice-info {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.ulaznice-naslov-film {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 36px;
  font-weight: var(--nav-font-weight);
  color: #fff;
  margin-bottom: 5px;
}

.ulaznice-bioskop {
  color: #e53935;
  font-weight: var(--nav-font-weight);
  font-family: var(--nav-font);
  font-size: var(--nav-text-size);
}

.zanr {
  font-size: 24px;
  color: #bbb;
  margin-bottom: 15px;
  font-family: var(--nav-font);
  font-weight: var(--nav-font-weight);
}

.ulaznice-karte {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tip,
.vreme-projekcije {
  font-weight: bold;
}

.karte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.karte::before {
  content: "-";
  background-color: #444;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.karte::after {
  content: "+";
  background-color: #e53935;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.karte#odrasli::before {
  content: "−";
}
.karte#odrasli::after {
  content: "+";
}
.karte#deca::before {
  content: "−";
}
.karte#deca::after {
  content: "+";
}

button {
  background-color: #e53935;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  align-self: start;
}

button:hover {
  background-color: #d32f2f;
}

#ulaznice {
  color: var(--nav-link-color);
}